# Python
**/__pycache__/
*.pyc
.venv/
.python-version

# Environment
.env
.env.*
!.env.example

# Huge Files & DB
*chroma_db*
*artifacts*
lab/chroma_db/
lab/artifacts/
**/chroma_db/
**/artifacts/

# System
.DS_Store
Thumbs.db
